@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1370px;
  margin: auto;
}
.hero_container {
  max-width: 100%;
  margin: auto;
}
.heroSmallText{
  color:rgb(122, 138, 163);
}
.sudo_class::before {
  background:color-mix(in srgb, var(--theme-color) 20%, white);
  content: "";
  position: absolute;
  left: -15px;
  width: 28px;
  z-index: -1;
  height: 20px;
  border-radius: 30% 70% 70% 30% / 35% 44% 56% 65%;
}
.active {
  color: var(--theme-color);
}
.text {
  color: rgb(149, 183, 250);
}
.link:hover {
  color: rgb(21, 192, 214);
}
.navlink:hover{
  color:var(--theme-color)
}
.button-border {
  border: 1px solid rgb(21, 192, 214);
}
.bg_overlay {
  background: linear-gradient(120deg, #fff 56%, rgba(145, 213, 237, 0.6) 80%);
}
.button-bg {
  background-color: rgb(0, 187, 212);
}
.navtext {
  color: rgb(153, 165, 199);
}
.nav_button{
  color: var(--theme-color);
}
.herotext_color {
  color: rgb(51, 71, 102);
}
.personal_det::after {
  position: absolute;
  content: " ";
  width: 188px;
  height: 6px;
  bottom: 7px;
  z-index: -1;
  left: 0;
  background-color: gold;
}
.slider-heading{
  color: #869ab8;
}
.service-bg {
  background: linear-gradient();
}
.answer {
  color: rgb(115, 132, 158);
}
.gradient_bg {
  background: linear-gradient(to bottom, rgb(247, 250, 252), white);
}
.swiper-button-next,
.swiper-button-prev {
  background: color-mix(in srgb, var(--swiper-theme-color) 20%, white);
  border-radius: 3px;
  border-radius: 50%;
  padding: 10px;
  color: var(--swiper-theme-color);
}
.section {
  background-color: #f9fbfd;
}
.footer_bg {
  background-color: rgb(23, 45, 82);
}

.about_bg {
  background-color: rgba(rgb(0, 0, 0), 1) !important;
}

.text_blur::after {
  height: 30px;
  left: -97px;
  position: absolute;
  width: 190px;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  top: 0px;
}
.text_blur::before {
  position: absolute;
  content: var(--heading-content);
  color: white;
  text-align: center;
  width: 190px;
  animation: animateBounce 3s infinite;
}
.Video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -50%);
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  z-index: -1;
}
@keyframes animateBounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }
  50% {
    transform: translateY(-5px);
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }
}

.margint {
  margin-top: -80px;
}

.fold {
  position: absolute;
  bottom: 7px;
  right: -18px;
  width: 58px;
  height: 69px;
  background-color: #fff;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
@media screen and (max-width:48rem) {
  .MobileVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -50%);
    width: 100vw;
    height: 80.25vw;
    min-height: 130vh;
    min-width: 177.77vh;
    z-index: -1;
  }
}

.accordion_bg{
  background-color: rgb(247, 250, 252);
}
.mobile_timeline-year {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 166px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  overflow: hidden;
  bottom:var(--circle-position);
  /* transform: translateY(-200%); */
  position: absolute;
  right: 69px;
  /* top: 50%; */
}


.section_divider{
  transform: scale(2);
  height: auto;
  width: 100%;
  transform-origin: top center;
} 

.main-timeline {
  font-family: "Inter", sans-serif;

  padding: 20px 100px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.main-timeline .timeline {
  background-color: #fff;
  padding: 20px 30px 20px 20px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 0 100px 100px 0;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.main-timeline .timeline:before {
  content: '';
  height: 245px;
  width: 245px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 138px;
  top: 164px
}
.main-timeline .timeline-year:before, .main-timeline .timeline-year:after {
  content: '';
  height: 245px;
  width: 245px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 138px;
  top: 164px
}
.main-timeline .timeline-year:after {
  border-radius: 0;
  transform: rotate(50deg);
  top: 198px;
  left: 118px;
  box-shadow: 0 0 8px #435177;
}
.main-timeline .timeline-content {
  color: #435177;
  width: 100%;
  min-height: 160px;
  padding:var(--theme-pt) 170px var(--theme-pb) 180px;
  display: block;
  float: left;
  position: relative;
  border-radius: 5px;
}
.main-timeline .timeline-icon {
  font-size: 48px;
  text-align: center;
  line-height: 130px;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  transform: translateY(-50%);
  position: absolute;
  left: 13px;
  top: 50%;
}
.main-timeline .timeline-year {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(60deg, var(--first-color), var(--second-color));
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 166px;
  height: 242px;
  width: 242px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}